<!DOCTYPE html>
<html>

<head>
    <title>
        Sugarbeet Beta Test
    </title>
    <link href='./css/layout.css' rel="stylesheet" />
</head>


<div class="home-box">
    <h2> Sugarbeet Classifier </h2>
    
    <form method="post" action="https://wplarc0t0d.execute-api.eu-west-1.amazonaws.com/api/post">
        <div class="input-box">
            <input type="text" name="url" required="" >
            <label>Image URL</label>
        </div>
        
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="Classify">
    </form>
</div>


</html>



